@model _2021_dotnet_g_01.Models.ViewModels.TicketEditViewModel

@{
    ViewData["Title"] = (bool)ViewData["IsEdit"] ? "Edit ticket" : "Create ticket";
}

<h2>@ViewData["Title"]</h2>
<hr />
<form method="post">
    <div asp-validation-summary="All"></div>
    @if (!(bool)ViewData["IsEdit"]) //bij create moet tickettype gekozen worden
    {
        <div class="form-group">
            <label for="TicketType" class="control-label">Type</label>
            <select name="TicketType" id="TicketType" asp-for="TicketType" asp-items=@(ViewData["TicketTypes"] as SelectList) class="form-control">
                <option value=""></option>
            </select>
            <span asp-validation-for="TicketType" class="text-danger"></span>
        </div>
    }

    @if ((bool)ViewData["IsEdit"] && (bool)ViewData["IsSupportManager"]) //bij edit mag supportmanager tickettype en assigned engineer veranderen
    {
        <div class="form-group">
            <label for="TicketType" class="control-label">Type</label>
            <select name="TicketType" id="TicketType" asp-for="TicketType" asp-items=@(ViewData["TicketTypes"] as SelectList) class="form-control">
                <option value=""></option>
            </select>
            <span asp-validation-for="TicketType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="AssignedEngineer" class="control-label">Assigned engineer</label>
            <select name="AssignedEngineer" id="TicketType" asp-for="AssignedEngineer" asp-items=@(ViewData["Engineers"] as SelectList) class="form-control">
                <option value=""></option>
            </select>
            <span asp-validation-for="AssignedEngineer" class="text-danger"></span>
        </div>
    }

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action=@((bool)ViewData["IsSupportManager"]?"IndexForSupportManager":"Index") class="btn btn-secondary">Cancel</a>
    </div>

    <div>
        <a asp-action=@((bool)ViewData["IsSupportManager"]?"IndexForSupportManager":"Index")>Back to Tickets</a>
    </div>
</form>

@section scripts {
    <script asp-src-include="lib/jquery-validation/dist/jquery.validate.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
